#yellow-block {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.photo-column {
    background-color: sandybrown;
    height: 900px;
}

#photo-gallery {
    background-color: azure;
    height: 900px;
}

.photo-sm {
    width: 100%;
    height: 380px;
    background-color: pink;
    margin-top: 20px;
    overflow: hidden;
}

.photo-big {
    width: 100%;
    height: 480px;
    background-color: wheat;
    margin-top: 20px;
    overflow: hidden;
}

@media (min-width: 0px) {
    #photo-gallery {
        margin-top: 20px;
        width: 100%;
        height: 7200px;
    }
}

@media (min-width: 575.98px) {
    #photo-gallery {
        margin-top: 20px;
        width: 100%;
        height: 3600px;
    }

    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 767.98px) {
    #photo-gallery {
        margin-top: 20px;
        width: 100%;
        height: 1800px;
    }

    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 991.98px) {
    #photo-gallery {
        margin-top: 20px;
        width: 100%;
        height: 900px;
    }

    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}